.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $black;
  border-radius: 50%;
  width: 60px;
  min-width: 60px;
  height: 60px;

  &.blue {
    border-color: $blue;

    .arrow {
      border-color: $blue;
    }
  }

  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;

    &.right {
      margin-right: 8px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}


.attachment-465x250 {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

footer {
  ul.menu {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      a {
        color: $white;
      }
    }
  }
}

.screen-reader-text {
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.navigation.pagination {
  display: flex;
  justify-content: center;
  
  .page-numbers {
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000;

    &:hover {
      border: 1px solid #000;
    }

    &.current {
      background: #F4F4F4;

      &:hover {
        border: none;
      }
    }
  }

  .next, .prev {
    font-weight: bold;
  }
}